{% extends "base.html" %}

{% block content %}
    <h1>Match History</h1>
        <div>
            <p>Total Matches: {{ total_matches }}</p>
            <p>Win Rate: {{ "%.1f" | format(win_rate) }}</p>
            <p>KDA: {{ "%.2f" | format(kda) }}</p>
        </div>
    <hr>

    <a href="{{ url_for('add_match') }}">Log New Match</a>
    <hr>
    {% if matches %}
        {% for match in matches %}
        <div>
            <p>Agent: {{ match.agent }}</p><br>
            <p>Map: {{ match.map }}</p> <br>
            <p>Score: {{ match.my_team_score }} - {{ match.enemy_team_score }}</p><br>
            <p>Stats: {{ '%s/%s/%s'| format(match.kills, match.deaths, match.assists ) }}</p><br>
            {% if match.result %}<p>RR Change: +{{ match.rr_change }}</p><br>
            {% else %}<p>RR Change: -{{ match.rr_change }}</p>
            {% endif %}
            <p>Rank Before: {{ match.rank_before }}</p><br>
            <p>Rank Now: {{ match.rank_after }}</p><br>
            {% if match.result %}<p>Result: Win</p><br>
            {% else %}<p>Result: Lose</p><br>
            {% endif %}
            <p>Date: {{ match.date_played.strftime('%d %b %Y %H:%M') }}</p>
        
        <form action="{{ url_for('delete_match', id=match.id) }}" method="post">
            <input type="submit" value="Delete Match">
        </form>
        </div>
        {% endfor %}
    {% else %}
        <p>No matches logged yet.</p>
    {% endif %}
    
{% endblock %}